@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");

$text-color: #414f57;
$line-color: #c8cccf;
$iconHover-color: #64B39D;

body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 18px;
  color: $text-color;
  background-color: #aaaaaa;
  background-image: -moz-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35));
  background-image: -webkit-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35));
  background-image: -ms-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35));
  background-image: linear-gradient(60deg, rgba(255,160,122, 0.5) 5%, rgba(46,139,87, 0.35));
  background-attachment: fixed;

  h1 { 
    font-size: 1.5em;
  }
  h2 {
    font-size: 1em;
    font-weight: normal;
  }
  h1, h2 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
}

.container {
  background-color: white;
  border-radius: 5px;
  margin: 20px auto;
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);
  max-width: 600px;
  text-align: center;
  padding: 30px 0;
}
.separator {
  margin: 40px auto 30px;
  width: 350px;
  border-bottom: 1px solid $line-color;
}

.header {
  figure {
    position: relative;
    margin: 0;
    
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      width: 100%;
      height: 1px;
      background-color: $line-color;
    }
  }
  img {
    margin: 0 auto;
    position: sticky;
    border-radius: 50%;
    box-shadow: 0 0 0 20px white;
  }
  h1 { 
    margin: 25px auto;
  }
}

.ul-icons {
  margin: 0;
  padding: 0;
  list-style: none;

  li { display: inline-block; }
  a, i {
    display: block;
    text-decoration: none;
    color: $line-color;
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border: 1px solid $line-color;
    border-radius: 50%;
    margin: 15px 5px;
    transition: border-color 1s, color .5s;  
    cursor: pointer;

    &:hover {
      color: $iconHover-color;
      border-color: $iconHover-color;
    }
  }
}
.top-icons {
  position: absolute;
  margin: -120px 0 10px 40px;
  
  i {
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0;
  }
}

.home {
  
}
.aboutme {
  .description { 
    padding: 0 40px 10px;
    
    p {
      text-align: justify;
      text-indent: 50px;
    }
  }
}
.portfolio {
  .grid-portfolio {
    margin: 0 auto 40px;
      
    a {
      text-decoration: none;
      
      div {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin: 10px auto;
        border: 5px solid white;
        background-color: white;
        box-shadow: 1px 1px 3px rgba(0,0,0,.4);
        transition: all 0.2s ease-in;

        &:hover { 
          transform: scale(1.5);
          border-color: $iconHover-color;
        }
        &:hover span { opacity: 1; }
      }
      span {
        opacity: 0;
        display: inline-block;
        text-align: left;
        margin: 210px auto;
        border-radius: 5px;
        padding: 4px 14px;
        color: white;
        text-transform: uppercase;
        font-size: 12px;
        background-color: rgba(0,0,0,.8);
      }
      #img01 {
        background: url('../images/img01.png') no-repeat;
        background-position: 50% 50%;
        background-size: 400px 400px;

        &:hover {
          background-position: 0px 0px;
          background-size: 200px 200px
        }
      }
    }
  }
}

footer {
  p {
    font-size: 12px;
    color: white;
    text-align: center;
  }
}

@media screen and (min-width: 450px){
  .grid-portfolio {
    display: grid;
    width: 420px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    grid-template-rows: 200px 200px;
    grid-gap: 20px;
  }
}
@media screen and (max-width: 555px){
  .header figure {
    margin-top: 60px;
  }
  .top-icons {
    margin-top: -180px;
  }
}

.actived-icon {
  i {
    color: $iconHover-color;
    border-color: $iconHover-color;
  }
}
.actived {
  display: inline-block;
}
.disabled {
  display: none;
}

.no-js {
  .home {
    footer {
      display: none;
    }
    .last-separator {
      display: none;
    }
  }
  .top-icons {
    display: none;
  }
}

.js {
  .last-separator {
    display: none;
  }
}
