@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");
body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 18px;
  color: #414f57;
  background-color: #aaaaaa;
  background-image: -moz-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35));
  background-image: -webkit-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35));
  background-image: -ms-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35));
  background-image: linear-gradient(60deg, rgba(255, 160, 122, 0.5) 5%, rgba(46, 139, 87, 0.35));
  background-attachment: fixed;
}
body h1 {
  font-size: 1.5em;
}
body h2 {
  font-size: 1em;
  font-weight: normal;
}

.container {
  background-color: white;
  border-radius: 5px;
  margin: 20px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  max-width: 600px;
  text-align: center;
  padding: 30px 0;
}

.separator {
  margin: 40px auto 30px;
  width: 350px;
  border-bottom: 1px solid #c8cccf;
}

.header figure {
  position: relative;
  margin: 0;
}
.header figure:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  z-index: 1;
  background-color: #c8cccf;
}
.header img {
  margin: 0 auto;
  position: sticky;
  border-radius: 50%;
  box-shadow: 0 0 0 20px white;
  z-index: 2;
}
.header h1 {
  margin: 25px auto;
}

.secondary-header {
  width: 100%;
}

.home {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.aboutme .description {
  padding: 10px 40px;
}
.aboutme .description p {
  text-align: justify;
  text-indent: 50px;
}

.portfolio .grid-portfolio {
  margin: 0 auto 40px;
}
.portfolio .grid-portfolio a {
  text-decoration: none;
}
.portfolio .grid-portfolio a div {
  height: 200px;
  width: 200px;
  margin: 10px auto;
  border: 5px solid white;
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in;
}
.portfolio .grid-portfolio a div:hover {
  transform: scale(1.5);
}
.portfolio .grid-portfolio a div:hover span {
  opacity: 1;
}
.portfolio .grid-portfolio a span {
  opacity: 0;
  display: inline-block;
  text-align: left;
  margin: 170px auto;
  padding: 4px 14px;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.8);
}
.portfolio .grid-portfolio #img01 {
  background: url("../images/img01.png") no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
}
.portfolio .grid-portfolio #img01:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

.ul-icons {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ul-icons li {
  display: inline-block;
}
.ul-icons a, .ul-icons i {
  display: block;
  text-decoration: none;
  color: #c8cccf;
  font-size: 30px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border: 1px solid #c8cccf;
  border-radius: 50%;
  margin: 15px 5px;
  transition: border-color 1s, color 0.5s;
  cursor: pointer;
}
.ul-icons a:hover, .ul-icons i:hover {
  color: #64B39D;
  border-color: #64B39D;
}

.top-icons {
  position: absolute;
  margin: -120px 0 10px 40px;
}
.top-icons i {
  font-size: 18px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0;
}
.top-icons .icon-actived {
  color: #64B39D;
  border-color: #64B39D;
}

footer p {
  font-size: 12px;
  color: white;
  text-align: center;
}

@media screen and (min-width: 450px) {
  .grid-portfolio {
    display: grid;
    width: 420px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    grid-template-rows: 200px 200px;
    grid-gap: 20px;
  }
}
.actived {
  display: inline-block;
}

.disabled {
  display: none;
}

.js .last-separator {
  display: none;
}

/*# sourceMappingURL=main.css.map */
